@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: normal;
    font-style: italic;
    background-image: linear-gradient(to right, rgba(245, 59, 245, 0.788), rgba(0, 0, 255, 0.74));
}   /* Shorthand font
    font-style -> font-weight -> font-size -> font-family */
    

/* 
Font Weight é peso = lighter normal bold bolder
Medidas absolutas
cm, mm, in(polegadas), px, pt(ponto), pc(paica)

Medidas Relativas
em, ex, rem, vw, vh, %
16px geralemnte e = 1em
RECOMENDAVEL USAR PX E EM
*/


h1, h2 {
    color: rgb(2, 2, 94);
    text-align: center;
    
}

p {
    text-align: justify;
    text-indent: 40px;
}